@inject GroupClient GroupService
@inject StudentClient StudentService
@inject StudentGroupClient StudentGroup

@using Velvetech.Shared.Dtos
@using Velvetech.Shared.Requests
@using Velvetech.Web.HttpClients
@using Velvetech.Web.HttpClients.Results

@namespace Velvetech.Web.Pages.Group

@if (Group != null)
{
	<div class="modal @_modalClass" tabindex="-1" role="dialog" style="display:@_modalDisplay">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				@if (_errorMessage != null)
				{
					<h1>@_errorMessage</h1>
					<br />
				}

				<EditForm Model="Group">
					<DataAnnotationsValidator />
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Editing group</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">

						@if (Group != null)
						{
							<div class="container">
								<div class="row">
									<div class="col-md-12">
										<div class="form-group">
											<label class="control-label col-md-6">Group name</label>
											<div class="col-md-12">
												<InputText class="form-control" @bind-Value="Group.Name" />
												<ValidationMessage For="(() => Group.Name)" />
												@if (_groupNameErrorsString != null)
												{
													<b>@_groupNameErrorsString</b>
												}
											</div>
										</div>
									</div>

									<div class="col-md-12">
										<div class="form-group">
											<label class="control-label col-md-6">Included students</label>
											<div class="col-md-12">
												<table class="table-hover">
													<thead>
														<tr>
															<th>Full name</th>
															<th>Callsign</th>
															<th></th>
														</tr>
													</thead>
													<tbody>
														@if (_includedStudents != null)
														{
															_counter = 0;

															foreach (var student in _includedStudents)
															{
																var i = _counter++;
																<tr class="">
																	<td>@student.FullName</td>
																	<td>@student.Callsign</td>
																	<td>
																		@*<button class="btn btn-primary" @onclick="() => Edit(i)">Edit</button>
																			<button class="btn btn-primary" @onclick="async () => await RemoveAsync(i)">Remove</button>*@

																		<button class="btn btn-primary" @onclick="async () => await ExcludeAsync(i)">
																			Exclude
																		</button>
																	</td>
																</tr>
															}
														}

													</tbody>
												</table>
											</div>
										</div>
									</div>

									<div class="col-md-12">
										<div class="form-group">
											<label class="control-label col-md-6">Other students</label>
											<div class="col-md-12">
												<table class="table-hover">
													<thead>
														<tr>
															<th>Full name</th>
															<th>Callsign</th>
															<th></th>
														</tr>
													</thead>
													<tbody>
														@if (_notIncludedStudents != null)
														{
															_counter = 0;

															foreach (var student in _notIncludedStudents)
															{
																var i = _counter++;
																<tr class="">
																	<td>@student.FullName</td>
																	<td>@student.Callsign</td>
																	<td>
																		@*<button class="btn btn-primary" @onclick="() => Edit(i)">Edit</button>
																			<button class="btn btn-primary" @onclick="async () => await RemoveAsync(i)">Remove</button>*@

																		<button class="btn btn-primary" @onclick="async () => await IncludeAsync(i)">
																			Include
																		</button>
																	</td>
																</tr>
															}
														}

													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
						}
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="Close">
							Cancel
						</button>
						<button type="submit" class="btn btn-primary" @onclick="SaveClickAsync">
							Save
						</button>
					</div>
				</EditForm>
			</div>
		</div>
	</div>
}

@code {
	[Parameter]
	public EventCallback OnSave { get; set; }

	public GroupDto Group { get; set; }

	string _modalDisplay = "block;";
	string _modalClass = "Show";
	string _errorMessage;
	string _groupNameErrorsString;

	int _counter;
	StudentDto[] _includedStudents;
	StudentDto[] _notIncludedStudents;

	private async Task SaveClickAsync()
	{
		if (Group is null)
		{
			_errorMessage = "Student is null";
			return;
		}

		var result = await GroupService.UpdateAsync(Group);
		if (result is SuccessfulEntityAction<GroupDto> group)
		{
			await OnSave.InvokeAsync(null);
			Close();
		}
		else
		{
			if (result is GroupErrors errors)
			{
				_groupNameErrorsString = null;
				if (errors.Name != null)
					_groupNameErrorsString = string.Join(", ", errors.Name);
			}
		}
	}

	public async Task OpenAsync()
	{
		_errorMessage = "";
		_modalDisplay = "block;";
		_modalClass = "Show";
		await LoadIncludedStudents();
		await LoadNotIncludedStudents();
		StateHasChanged();
	}

	private void Close()
	{
		_modalDisplay = "none";
		_modalClass = "";
		_includedStudents = null;
		Group = null;
		StateHasChanged();
	}

	async Task LoadIncludedStudents()
	{
		if (Group != null)
			_includedStudents = await StudentGroup.ListIncludedAsync(new IncludedStudentsRequest() { GroupId = Group.Id });
	}

	async Task LoadNotIncludedStudents()
	{
		if (Group != null)
			_notIncludedStudents = await StudentGroup.ListNotIncludedAsync(new IncludedStudentsRequest() { GroupId = Group.Id });
	}

	async Task ExcludeAsync(int i)
	{
		var studentId = _includedStudents[i].Id;
		var groupId = Group.Id;

		await StudentGroup.ExcludeStudentAsync(
			new StudentGroupRequest
			{
				StudentId = studentId,
				GroupId = groupId
			});

		await LoadIncludedStudents();
		await LoadNotIncludedStudents();
	}

	async Task IncludeAsync(int i)
	{
		var studentId = _notIncludedStudents[i].Id;
		var groupId = Group.Id;

		await StudentGroup.IncludeStudentAsync(
			new StudentGroupRequest
			{
				StudentId = studentId,
				GroupId = groupId
			});

		await LoadIncludedStudents();
		await LoadNotIncludedStudents();
	}
}
