@page "/pages/students"

@inject StudentClient StudentClient
@inject SexClient SexClient
@inject AuthorizationClient AuthorizationClient

@using System.Timers
@using Velvetech.Shared
@using Velvetech.Shared.Dtos
@using Velvetech.Shared.Requests
@using Velvetech.Shared.Results.Authorization
@using Velvetech.Web.HttpClients

@namespace Velvetech.Web.Pages.Student

<h1>Students</h1>
<h1>@_title</h1>
<h1>@_error</h1>

<button class="btn btn-primary" @onclick="Add">Add student</button>
<br />
<br />

@if (_page == null)
{
	<p><em>Loading...</em></p>
}
else
{
	<table class="table">
		<thead>
			<tr>
				<th>Full name</th>
				<th>Sex</th>
				<th>Callsign</th>
				<th>Groups</th>
				<th></th>
			</tr>
			<tr>
				<th>
					<input type="text"
						   class="form-control"
						   @bind-value="_fullname"
						   @bind-value:event="oninput"
						   @onkeyup="@StartSearchTimer" />
				</th>
				<th>
					<input type="text"
						   class="form-control"
						   @bind-value="_sex"
						   @bind-value:event="oninput"
						   @onkeyup="@StartSearchTimer" />
				</th>
				<th>
					<input type="text"
						   class="form-control"
						   @bind-value="_callsign"
						   @bind-value:event="oninput"
						   @onkeyup="@StartSearchTimer" />
				</th>
				<th>

					<input type="text"
						   class="form-control"
						   @bind-value="_group"
						   @bind-value:event="oninput"
						   @onkeyup="@StartSearchTimer" />
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@{
				_counter = 0;
			}
			@foreach (var student in _page.Items)
			{
				var i = _counter++;

				<tr class="">
					<td>@student.FullName</td>
					<td>@student.Sex.Name</td>

					<td>@student.Callsign</td>
					<td>@(string.Join(", ", student.Groups))</td>
					<td>
						<button class="btn btn-primary" @onclick="() => Edit(i)">Edit</button>
						<button class="btn btn-primary" @onclick="async () => await DeleteAsync(i)">Remove</button>
					</td>
				</tr>
			}
		</tbody>
	</table>

	<button class="btn btn-primary" disabled="@(_page.PageIndex == 0)" @onclick="PreviousPage">Previous page</button>
	<button class="btn btn-primary" disabled="@(_page.IsLastPage)" @onclick="NextPage">Next page</button>
}

<Velvetech.Web.Pages.Student.Add SexList="@_sexList" @ref="AddComponent" OnSave="Update" />
<Velvetech.Web.Pages.Student.Edit SexList="@_sexList" @ref="EditComponent" OnSave="Update" />

@code
{
	private Add AddComponent { get; set; }
	private Edit EditComponent { get; set; }

	string _title = string.Empty;
	string _error = string.Empty;

	// students list
	int _counter;
	Page<StudentDto> _page;
	SexDto[] _sexList;

	// search parameters
	string _sex = "", _fullname = "", _callsign = "", _group = "";
	string _previousSex, _previousFullname, _previousCallsign, _previousGroup;
	readonly Timer _searchDelayTimer = new Timer(300) { Enabled = false, AutoReset = false };

	void StartSearchTimer()
	{
		_searchDelayTimer.Enabled = false;
		_searchDelayTimer.Enabled = true;
	}

	void Add()
	{
		if (AddComponent is null)
			return;

		AddComponent.Student = new StudentDto() { SexId = 1 };
		AddComponent.Open();
	}

	void Edit(int index)
	{
		if (EditComponent is null)
			return;

		EditComponent.Student = _page.Items[index];
		EditComponent.Open();
	}

	async Task DeleteAsync(int index)
	{
		var guid = _page.Items[index].Id;
		await StudentClient.DeleteAsync(guid);
		await Update();
	}

	async Task Update()
	{
		await LoadPage(_page.PageSize, _page.PageIndex); ;
	}

	async Task NextPage()
	{
		if (_page != null &&
			!_page.IsLastPage)
			await LoadPage(10, _page.PageIndex + 1);
	}

	async Task PreviousPage()
	{
		if (_page != null &&
			_page.PageIndex > 0)
			await LoadPage(10, _page.PageIndex - 1);
	}

	async Task LoadPage(int size = 0, int index = 0)
	{
		_page = await StudentClient.ListAsync(
			new StudentFilterPagedRequest
			{
				Sex = _sex,
				Callsign = _callsign,
				Fullname = _fullname,
				Group = _group,
				PageIndex = index,
				PageSize = size
			});
	}

	string CleanString(string value)
	{
		if (value is null)
			return string.Empty;

		if (value.Trim() == string.Empty)
			return string.Empty;

		return value.Trim();
	}

	protected override async Task OnInitializedAsync()
	{
		if (!await AuthorizeAsync())
		{
			_error = "Unauthorized";
			return;
		}

		_sexList = await SexClient.ListAsync();
		await LoadPage();

		_searchDelayTimer.Elapsed += async (sender, args) =>
		{
			if (_previousSex == _sex &&
			    _previousFullname == _fullname &&
			    _previousCallsign == _callsign &&
			    _previousGroup == _group)
				return;

			await LoadPage();

			_previousSex = _sex;
			_previousFullname = _fullname;
			_previousCallsign = _callsign;
			_previousGroup = _group;

			await InvokeAsync(StateHasChanged);
		};
	}

	async Task<bool> AuthorizeAsync()
	{
		var authorizationResult = await AuthorizationClient.AuthorizeAsync(
			new AuthorizationRequest("User", "Pewpew"));

		if (authorizationResult is AuthorizationSuccess authorizationSuccess)
		{
			var token = authorizationSuccess.Token;
			
			SexClient.UseToken(token);
			StudentClient.UseToken(token);
			
			return true;
		}

		return false;
	}
}
