@inject HttpClient Http

@using System.Linq
@using Presentation.Shared.Dtos

@namespace Presentation.Client.Pages.Group

@if (Group != null)
{
	<div class="modal @_modalClass" tabindex="-1" role="dialog" style="display:@_modalDisplay">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<h1>@_errorMessage</h1>
				<br />

				<EditForm Model="Group" OnValidSubmit="@SaveClick">
					<DataAnnotationsValidator />
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Edit @Group.Name</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">

						@if (Group == null)
						{

						}
						else
						{
							<div class="container">
								<div class="row">
									<div class="col-md-12">
										<div class="form-group">
											<label class="control-label col-md-6">Firstname</label>
											<div class="col-md-12">
												<InputText class="form-control" @bind-Value="Group.Name" />
												<ValidationMessage For="(() => Group.Name)" />
											</div>
										</div>
									</div>

									@*<div class="col-md-12">
											<div class="form-group">
												<label class="control-label col-md-6">Sex</label>
												<div class="col-md-12">
													<InputSelect @bind-Value="SexId" class="form-control">
														@foreach (var sex in SexList)
																{
															<option value="@sex.Id.ToString()">@sex.Name</option>
																}
													</InputSelect>
													<ValidationMessage For="(() => SexId)" />
												</div>
											</div>
										</div>*@
								</div>
							</div>
						}
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="Close">Cancel</button>
						<button type="submit" class="btn btn-primary">
							Save
						</button>
					</div>
				</EditForm>
			</div>
		</div>
	</div>
}

@code {
	[Parameter]
	public EventCallback OnSave { get; set; }

	public GroupDto Group { get; set; }
	string _modalDisplay = "block;";
	string _modalClass = "Show";
	string _errorMessage;

	private async Task SaveClick()
	{
		if (Group is null)
		{
			_errorMessage = "Group is null";
			return;
		}

		var result = await Http.PostAsJsonAsync($"api/Groups/Add", Group);
		if (result.StatusCode == System.Net.HttpStatusCode.OK)
		{
			Close();
			await OnSave.InvokeAsync(null);
		}
		else
			_errorMessage = result.StatusCode.ToString();
	}

	public void Open()
	{
		_modalDisplay = "block;";
		_modalClass = "Show";
		StateHasChanged();
	}

	private void Close()
	{
		_modalDisplay = "none";
		_modalClass = "";
		StateHasChanged();
	}
}
